/**** Fonts Import ****/

@import url('https://fonts.googleapis.com/css?family=Quicksand');

/** Title Fonts **/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/** Text font **/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/** Nav Font **/


/*** Auxiliares ***/

::selection {
    background-color: #D32F2F;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-family: 'Roboto', sans-serif;
    background: #D32F2F;
    color: #fff;
    border: none;
    border-radius: 2px;
}

.form-control:focus {
    border-color: #D32F2F;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(211, 47, 47, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(211, 47, 47, .6);
}

.separator {
    margin: 15px auto;
    width: 40px;
    height: 4px;
    border-radius: 10px;
    background-color: #D32F2F;
}

.span_destaque {
    color: #D32F2F;
    font-weight: bold;
}


/*** Padding Class ***/


/** tb -- Top and Bottom **/


/** l - Large, m - Medium, s - Small, ss - Super Small **/

.ltb_padding {
    padding: 50px 0;
}

.mtb_padding {
    padding: 35px 0;
}

.stb_padding {
    padding: 20px 0;
}

.sstb_padding {
    padding: 10px 0;
}
